<div class="container-fluid center-align">
    <h1>The Movie DB</h1>
    <div class="container center-align">
        <img src="http://www.clker.com/cliparts/Y/p/m/x/G/l/cinema-items-hi.png" alt="Cinema">
    </div>
    <h3>Welcome and have a nice time <i class="em em-cinema"></i> </h3>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Most Popular Movies</h3>
        </div>
        <div class="panel-body">
            <movie-list></movie-list>
        </div>
    </div>
</div>